
{{#each pepe}}
    <p>{{this.name}}</p>
    <img src={{this.image.icon_url}} alt="">
    <script ></script>
<a href="/comics/add?id={{this.id}}&name={{../idList}}">Prueba</a>
{{/each}}
<a href="/comics/all">Return</a>
<p>{{idList}}</p>