<div class="row">
  <div class="col-sm-4">
    <div class="profile-photo" style="background:url({{user.photo.secure_url}}) no-repeat center / cover"></div>
  </div>
  <div class="col-sm-8">
    <h2> Hello, {{ user.username }}.</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>My comic lists</h3>
  </div>
  <div class="row">
    <a href="/lists/create" class="btn" role="button">Create new list</a>
    {{#if list}}
      <div class="col-sm-6">
        <ul>        
          {{#each list}} 
              <img src="{{this.img_icon}}" alt="">
              <li>{{this.title}}</li>
          {{/each}}
        </ul>
      </div>
    {{else}}
        <h2>No list created</h2>
    {{/if}}
  </div>
</div>

