{{#if list}}

{{list.name}}
<a href="/comics/all?id={{list.id}}" class="btn" role="button">Add Comics</a>
<ul>
{{#each list.id_comic}}

  <li><a href="/comics/comics">{{this.title}}</a></li>
  <img src="{{this.img_icon}}" alt="">
  {{else}}
  <p>Empty list</p>

{{/each}} 
</ul>
{{else}}
<h2>No list created</h2>
{{/if}}

<a href="/lists" class="btn" role="button">Back to my lists</a>